<h1>Editar Producto</h1>

<form action="" method="post">
<legend>Editar Producto</legend>
<div>
<label for="IdProducto">IdProducto: </label>
<input type="number" name="IdProducto" value="">
</div>
<div>
<label for="NombreProducto">Nombre Producto: </label>
<input type="text" name="NombreProducto" value="">
</div>

<div>
<label for="Precio">Precio Producto: </label>
<input type="number" name="Precio" value="">
</div>
<button type="submit" class="btn btn-primary">Submit</button>

</form>